In [ ]:
#Python Sets
#Sets are used to store multiple items in a single variable.
myset = {"apple","Banan", "Cherry"}
print(myset)

#Duplicate not allowed
thisset = {"apple","banana","cherry","apple"}
print(thisset)

thisset = {"apple","banana","cherry",True,1,2}
print(thisset)
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

#Get the Length of set
thisset = {"apple","banana","cherry"}
print(len(thisset))

#Set Items - Data types
set1 ={"apple","banana", "cherry"}
set2 = {1,2,5,7,8}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

set1 = {"abc",34,True,40,"male"}
print(set1)

#Type()
myset = {"apple","banana","cherry"}
print(type(myset))

#The set() constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [2]:
#Python Access Set Items
#Access Items
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

#other example
print("banana" in thisset)

apple
cherry
banana
True

In [7]:
#Python Add set Items
#Add items
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

#Add sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pinaple", "manggo", "papaya"}
thisset.update(tropical)
print(thisset)

#Add any Iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'orange', 'cherry', 'banana'}
{'pinaple', 'banana', 'papaya', 'apple', 'manggo', 'cherry'}
{'kiwi', 'orange', 'banana', 'apple', 'cherry'}

In [11]:
#Python - Remove Set items
#Remove Item
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

#POP
thisset = {"apple", "banana", "cherry"}
x=thisset.pop()
print(x)
print(thisset)

#Clear()
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print("clear()")
print(thisset)

{'apple', 'cherry'}
apple
{'cherry', 'banana'}
clear()
set()

In [12]:
#Python - Loop Sets
#loop Items
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
cherry
banana

In [15]:
#Python Join Sets
#Join Two Sets
# You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

#keep Only Duplicate
#The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

#Keep All, But NOT the Duplicates
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{1, 2, 3, 'a', 'c', 'b'}
{'apple'}
{'microsoft', 'banana', 'google', 'cherry'}

In [4]:
#EXCERCISE
#Exercise 1: Add a list of elements to a set
set1 = {"Yellow","Orange","Black"}
setList =["Blue","Green","Red"]

set1.update(setList)
print(set1)

{'Red', 'Blue', 'Orange', 'Green', 'Black', 'Yellow'}

In [11]:
# Exercise 2: Return a new set of identical items from two sets
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

In [12]:
# Exercise 3: Get Only unique items from two sets
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [14]:
#Exercise 4: Update the first set with items that donâ€™t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [21]:
# Exercise 5: Remove items from the set at once
set1 = {10,20,30,40,50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [25]:
# Exercise 6: Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [27]:
#Exercise 7: Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
# Use the isdisjoint() method check if sets has a common elements
# If above condition is true then use the intersection() method to display common elements
print(set1.isdisjoint(set2))
print(set1.intersection(set2))

{10}
False

In [30]:
#Exercise 8: Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [31]:
#Exercise 9: Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}